doctype html
html(lang="ko")
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta( name='viewport', content='width=device-width, initial-scale=1')
    title= title
    link(rel='stylesheet', href='/css/main.css')
    script(src="/js/main.js")
  body
    
    header.index 
      ul.nav
        li 로그인
        li 회원가입
        li 내정보
      h1#home 나만의 블로그
    div.container 
      section.aside
        div.nav
          p 게시판추가
          p 게시판설정
        div.list
          p 1
      section.main
        block content
      

    
