extends ../layout2

block content
    h1 찾아보기
    form
        input(type="text" name="u_find" value=`${u_find}` placeholder="아이디를입력해주세요")
    table 
        tr
            th 계정
            th 닉네임
        if u_find === ""
            each item in data
                tr
                    td= item.u_id
                    td= item.u_nick